body{
    width: 100%;
    padding: 0;
    margin: 0;

    background-color: #232526;
    color: white;
}
/* HEADER CSS */
.header{
    padding: 2em 5em;

}
.headerLink{
    font-size: 14px;
}
.headerContainer{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.linksContainer{
    width: 23%;
}
.linksContainer ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center ;
}
.linksContainer  ul li{
    list-style: none;
}
.linksContainer ul li a{
    text-decoration: none !important;
    color: white;
}
.yourWishlistButton{
    background-color: #5B606B;
    padding: 0.8em 0.8em;
    border-radius: 20px;
}
.yourWishlistButtonContainer{
    display: flex;
    align-items: center;
    height: 2.5em;
    border-left: 2px solid #303335;
    padding: 0 1em;
    cursor: pointer;
}
.yourWishlistButtonContainer:hover,.headerLink:hover{
    opacity: 80%;
}
.content{
    display:flex;
    align-items: center;
    justify-content: center;
}
.sloganContainer{
        padding-top: 6em;
    }
.titleContainerSlogan{
    height: auto;
    width: 36em;
    text-align:center;
}
.startButtonContainer{
    display:flex;
    justify-content: center;
    padding-top: 1em;
}
.startButton{
    font-size: 22px;
    background-color: #2A41FA;
    color: white;
    padding: 0.5em 2em;
    border-radius: 20px;
}
.startButton:hover{
    opacity: 80%;
}